.input_title {
  margin: 20px 10px 5px 10px;
  font-weight: 700;
}
.input_description {
  margin: 5px;
  font-weight: 300;
}
.file_input {
  // Do not change this property
  display: none;
}
.selected_files_container {
  display: flex;
  flex-direction: row;
  overflow: auto;
  max-height: 100px;
}
.input_file_container {
  display: flex;
  justify-content: flex-end;
}

.files_container {
  display: flex;
  flex-direction: row;
  overflow: auto;
  zoom: 0.7;
}
.delete_container {
  position: absolute;
  top: -10px;
  right: -20px;
  cursor: pointer;
}

// Change this on main color change
$main_color: #004d67;
.preview_photo {
  margin: 10px 0px;
  border: 3px solid $main_color;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  min-height: 75px;
  max-height: 50px;
  font-size: 14px;
  width: 230px;
  .photo_container {
    display: flex;
    align-items: center;
    width: 100%;
    .selected_img {
      width: 45px;
      height: 45px;
      border-radius: 15px;
    }
    img.defaul_img {
      width: 38px;
      height: 38px;
    }
    .file_detail {
      position: relative;
      left: 10px;
      width: 90%;
      p {
        font-size: 14px;
        margin-bottom: 0px;
        &:first-child {
          font-weight: 700;
          font-size: 16px;
          width: 90%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
