#header_container {
  background-color: var(--white);
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: #6f6f6f;
  -webkit-box-shadow: 0px 0px 65px 0px rgba(194, 194, 194, 0.87);
  -moz-box-shadow: 0px 0px 65px 0px rgba(194, 194, 194, 0.87);
  box-shadow: 0px 0px 65px 0px rgba(194, 194, 194, 0.87);
}
.user_info_container{
  display: flex;
  margin-right: 35px;
  cursor: pointer;
  z-index: 9998;
}
.info_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.notification_container {
  margin: auto;
  margin-right: 20px;
}

.logo_container {
  background-color: var(--main-color-dark);
  height: 60px;
  width: 170px;
}
.collapse_item { 
  display: flex;
  flex-direction: column;
}
.avatar_container{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.label_container{
  display: flex;
  flex-direction: column;
}
.name_label{
text-transform: capitalize;
display: block;
color: var(--main-color-dark);
text-align: left;
}
.role_label{
text-transform: capitalize;
display: block;
color: var(--orange);
font-size: 12px;
text-align: left;
font-weight: 700;
}

.arrow{
  position: absolute;
  right: 15px;
  top: 15px;

}

#logo {
  width: 135px;
  position: relative;
  left: 20px;
  top: 15px;
}
#mini_logo {
  width: 40px;
  position: absolute;
  top: 15px;
  left: 30px;
}

.collapse_container {
  position: absolute;
  right: 0;
  top: 50px;
  background: white;
  padding: 20px 0px;
  border-radius: 5px;
  width: 300px;
}
.collapse_body{
  display: flex;
  flex-direction: column;
}

.options_label{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 10px;
  background: var(--white);
  margin-bottom: 10px;
  cursor: pointer;
}
.options_label_description{
  padding-left: 15px;
}

@media (max-width: 767px) {
  #logo {
    display: initial;
  }
  .logo_container {
    width: 75px;
  }
}
