.filter_collapse_container{
    width: 605px;
    padding: 20px;
    border-radius: 5px;
    margin: 10px auto;
    //margin: 20px auto 0px 5%;
}

.filter_icon_container{
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 18px;
    display: flex;
}