.stepper_container{
    width: '100%',
}
.icon_container{
    background-color: #ccc;
    z-index: 1;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.active_icon{
    background: var(--orange);
    box-shadow: '0 4px 10px 0 rgba(0,0,0,.25)';
}
.completed_icon{
    background: var(--main-color-dark);
    box-shadow: '0 4px 10px 0 rgba(0,0,0,.25)';
}

.sub_menu_container{
    position: absolute;
    left: -10px;
    top: 40px;
}
.message_alert{
    text-align: center;
    padding: 20px;
    background: #bd7676;
    border-radius: 10px;
    text-indent: 20px;
    color: var( --white);
    font-weight: 600;
    margin-bottom: 20px;
    width: 89%;
    margin-top: 20px;
}
