.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.date_label{
    text-align: left;
    font-size: 10px;
    display: block;
}
.viwer_date{
    font-size: 14px;
}
.title_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dates_title,
.end_label {
  display: block;
  text-align: left;
  margin-left: 2.5%;
  color: black;
  font-weight: 500;
}
.end_label {
  color: var(--red);
  font-weight: 600;
  margin-bottom: 15px;
}

.display_none {
  display: none;
}
