.goals_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goals_title{
    color: var(--main-color-dark);
    font-weight: 700;
    text-align: left;
    margin: 0px;
}