.title_container {
  display: flex;
  justify-content: center;
  height: fit-content;
  height: fit-content;
}
.content_container {
  height: 100%;
}
.empty_content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 570px;
}
.item_container {
  margin: 20px auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
  width: 95%;
  cursor: pointer;
  transition: all 0.2;
}
.item_container:active {
  transform: scale(0.97);
}
.header_container {
  font-weight: 600;
  font-size: 12px;
  text-align: left;
  padding-left: 35px;
}
.highlight {
  color: var(--orange);
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

.content_container {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  margin-top: 10px;
}

.comment_body {
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

.show_more_container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color-dark);
  border-radius: 10px;
  color: white;
  font-weight: 600;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  padding: 15px;
  margin-bottom: 10px;
}
